* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f50057;
  --offwhite-color: #f3f4f6;
  --button-text-color: #ffffff;
  --header-text: #9ca3af;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  max-width: 90%;
  margin: auto;
  overflow-x: hidden;
}

/* * header */

.hero-content {
  display: flex;
  margin: auto;
  max-width: 90%;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.main-text {
  flex: 50%;
  margin: 4rem 0;
  padding: 3rem;
}

.main-text h1 {
  font-size: 4rem;
  color: #1c3548;
  /* margin: 0px 0px 10px 0px; */
  line-height: 60px;
  text-align: left;
}

.main-text p {
  color: #747474;
  font-size: 1.9rem;
}

.model-1 {
  flex: 50%;
  margin: 4rem 0;
}

.model-1 img {
  width: 100%;
  /* height: 100%; */
  height: auto;
  max-width: 700px;
}

.model-sm img {
  width: 100%;
  /* height: 100%; */
  height: auto;
  max-width: 700px;
  margin-top: 4rem;
}

/* * about-me */

.about-me {
  display: flex;
  margin: auto;
  max-width: 90%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.about-me-text {
  flex: 50%;
  margin: 4rem 0;
  padding: 3rem;
}

.about-me-text p {
  font-size: 1.1rem;
  color: #1c3548;
  line-height: 1.3rem;
  /* margin: 0rem 0rem 0.625rem 0rem; */
}

.about-me-text h1 {
  font-size: 2rem;
  color: #1c3548;
  /* margin: 0rem 0rem 0.625rem 0rem; */
}

.about-me h3 {
  margin-top: 1rem;
}

.about-me li {
  line-height: 1.5rem;
}

.model-2 {
  flex: 50%;
  margin: 4rem 0;
}

.model-2 img {
  width: 100%;
  /* height: 100%; */
  height: auto;
  max-width: 700px;
}

/* * projects */

.projects {
  margin: auto;
  max-width: 90%;
  text-align: center;
}

.projects h2 {
  margin: 1.5rem;
}

.projects p {
  line-height: 1.5rem;
  /* margin-bottom: 2rem; */
}

.projects a {
  margin-top: 1.5rem;
  display: inline-block;
}

/* * blogs*/

.blogs {
  margin: auto;
  max-width: 90%;
  text-align: center;
  margin-bottom: 6rem;
}

.blogs h2 {
  margin: 1.5rem;
}

.blogs p {
  line-height: 1.5rem;
  padding: 0 8rem;
  /* margin-bottom: 2rem; */
}

.blogs a {
  display: inline-block;
  margin-top: 1.5rem;
}

/* * footer  */

footer i {
  color: white;
  font-size: 30px;
  margin: 1rem;
}

footer p {
  color: #ffffff;
}

footer span {
  font-weight: bolder;
}

/* ******************************************************** */

/* * Starting projects.html */

.projects-img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 5rem;
  /* margin: auto;*/
}

/* ******************************************************** */

/* * Starting blogs.html */

.blogs-img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 4rem;
  /* margin: auto;*/
}

/* ******************************************************** */

/* * Starting blogs1.html */

.blog-heading {
  text-align: center;
  font-size: 4rem;
  color: #1c3548;
  line-height: 60px;
  margin: 3rem 0;
}

.projects-img-git {
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.blog {
  max-width: 70%;
  margin: auto;
}

.blog a {
  color: #4338ca;
}

.blog p {
  line-height: 1.5rem;
  font-size: large;
  padding: 0.5rem 1rem;
}

.blog h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog h3 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

blockquote {
  border-left: 10px solid var(--primary-color);
  padding-left: 1rem;
  font-size: 1.3rem;
}

.blog .quotes p {
  padding-bottom: 1rem;
  font-size: 1.7rem;
  line-height: 2rem;
}

.blog .blog-unordered-list {
  list-style: circle;
  padding: 0.5rem 2rem;
  font-size: large;
}

.blog-ordered-list {
  padding: 0.5rem 2rem;
  font-size: large;
  line-height: 1.5rem;
}

code {
  background-color: #eee;
  border-radius: 3px;
  padding: 0 3px;
  /* display: inline; */
}

/* ******************************************* */

/* *Starting blog2 */

.blog h1 {
  font-size: 1.7rem;
  font-weight: 100;
}

.blog2-img-2 {
  max-width: 700px;
  margin: 0.7rem 0;
}

.projects-img-dart {
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1rem;
  height: 350px;
}

.toggle {
  display: contents;
}

/* ******************************************* */

/** Media Query */

@media screen and (min-width: 800px) {
  /* * hero img  */
  .model-sm img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  /* * blogs1 */
  .blog {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .dev {
    display: none;
  }

  .projects {
    margin-bottom: 0;
  }

  header ul {
    font-weight: 400;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 70vh);
    padding: 0px 20px;
    text-align: center;
    overflow: auto;
    transition: 0.5s;
    background: var(--primary-color);
    flex-direction: column;
    transform: translateY(-100%);
  }
  header.active ul {
    top: 60px;
    transform: translateY(0);
  }
  header ul li a {
    margin: 5px 0;
    font-size: 20px;
    color: #fff;
  }
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 1rem;
  }
  .toggle::before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }
  .toggle::after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
  }
  header.active .toggle::before {
    top: 14px;
    transform: rotate(45deg);
    box-shadow: 0px 0px 0px #fff;
  }
  header.active .toggle:after {
    bottom: 14px;
    transform: rotate(-45deg);
  }
  .hero-content {
    margin-top: 6rem;
    margin-bottom: 0;
    display: block;
  }
  .about-me {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .about-me-text {
    padding: 0;
  }
  .about-me-text p {
    font-size: 1.1rem;
    color: #1c3548;
    line-height: 1.3rem;
  }
  .about-me-text h1 {
    font-size: 2rem;
    color: #1c3548;
  }
  .about-me li {
    line-height: 1.5rem;
  }
  .about-me h3 {
    margin-top: 1rem;
  }
  .main-text {
    padding: 0;
  }
  .model-1 {
    margin: 4rem 0;
    display: none;
  }
  .model-2 {
    margin: 4rem 0;
    /* display: none; */
  }
  .model img {
    margin: auto;
    max-width: 350px;
    display: block;
    float: left;
  }
  .blogs p {
    padding: 0 1rem;
  }
  .blog-heading {
    font-size: 3.7rem;
    padding: 0 0.5rem;
  }
  .projects-img-dart {
    height: 200px;
  }
  .blog2-img-2 {
    max-width: 400px;
    margin: 0.7rem 0;
  }
  .dart-ol {
    padding: 0 1rem;
  }
  .nested-ul li {
    margin-bottom: 0.7rem;
  }
}
